<!DOCTYPE html>
<html>
  <head>
    <title><%=shopData.shopName%> Audit Log</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Audit Log</h1>
    <h2>Here is the audit log:</h2>
    <ul>
      <!-- goes through availableAudit array and lists its contents-->
      <% for(let i = 0; i < availableAudit.length; i++) { %>
      <li>
        <%= availableAudit[i].username %>, <%=availableAudit[i].status %> at <%=
        availableAudit[i].time %>
      </li>
      <% } %>
    </ul>
  </body>
</html>
